.navbar-container{
    background:#3171B9;
    margin-bottom:15px;
}
.navLink{
    text-decoration: none;
    color: #FFFF;
    display:flex;
    position:relative;
}
.navLink::before{
    content: "";
    background-color:#FFFFFF;
    position:absolute;
    bottom:1px;
    left:50%;
    transform:translate(-50%,0);
    width:0%;
    height:2px;
    
}
.active.navLink::before{
    display: block;
    transition: all 2s linear 1s;
    width:80%;
}