.foldersTitle {
    display: flex;
    justify-content: space-between;
    color: #9d9d9d;
}

.foldersItem {
    height: 48px;
    display: flex;
    list-style: none;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    margin-top: 20px;
    padding: 10px;
    border-radius: 4px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);

    &:hover {
        cursor: pointer;
        background-color: rgba(199, 217, 251, 0.7);
    }

    .folderName {
        width: 400px;
        font-weight: bold;
        display: flex;
        align-items: center;

        .imgFolder {
            width: 30px;
            height: 30px;
            margin: 0 28px;
        }
    }

    .teacherName {
        margin-left: 0;
        color: #4e4e4e;
    }

    .upTime {
        margin-right: 40px;
    }
}