
.course-component{
    background-color:white;
    padding:15px;
}

.course-img{
    display: flex;
    justify-content: center;
}

.course-box{
    border: 1px solid rgba(62, 83, 207, 0.3);
}

.time-picker{
    background-color:white;
    padding:5px;
    max-height:380px !important;
}
.time-picker__text{
    color:#2980B9;
    padding:5px;
    border-bottom: 1px solid #2980B9
}

.notifi-text{
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    border-top: 1px solid #2980B9;
    padding:5px;
}