//-------------------------*------------------------------
.flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

//-------------------------Course------------------------------

.selectTitle {
    font-size: 16px;
    color: #000000;
    align-self: center;
    padding: 0 20px;
}

.comboboxSelect {
    max-width: 140px;
    max-height: 40px;
    padding: 0;
}

.selectArea {
    flex-grow: 1;
    justify-content: flex-end;
    align-items: center;
}

.titleAnotherClasses {
    align-self: center;
}

//-------------------------CourseDetail------------------------------

.imgMember {
    width: 30px;
    height: 30px;
    margin-left: 10px;
}

.btnMember {
    padding: 5px;

    &:hover {
        cursor: pointer;
        background-color: rgba(0, 0, 0, 0.15);
    }

}

.btnMemberContent {
    color: #000;
    font-size: 16px;
    font-weight: bold;
    margin: 0 10px;
}

.listInfoContainer {
    background-color: rgba(0, 0, 0, 0.03);
}

.listFolderContainer {
    padding: 10px;
}

.title {
    margin-top: 40px !important;
    font-weight: bold !important;

    .btnShowAll {
        padding: 3px;

        &:hover {
            background-color: rgba(0, 0, 0, 0.15);
            cursor: pointer;
            border-radius: 5px;
        }
    }
}



.headingContainer {

    margin-top: 60px !important;
    border-bottom: 1px solid rgb(163, 163, 163);

    .heading {
        color: #2980b9;
        font-weight: bold;
        text-transform: uppercase;
    }

    .btnBack {
        color: red;
        font-size: 16px;
        font-weight: bold;
    }
}


//-------------------------ListPost------------------------------

.listPostContainer {
    max-height: 500px;
    overflow-y: scroll;
}